<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="somee.com" connectionString="server=testdbxaero.mssql.somee.com;packet size=4096;user id=xaero_olj_SQLLogin_1;pwd=oi32f5kp6w;data source=testdbxaero.mssql.somee.com;persist security info=False;initial catalog=testdbxaero"/>
    <add name="trg.pro" connectionString="server=sql10-12-rus.corp.parking.ru;Initial Catalog=xaero_14;User ID=xaero_14;Password=0[#X0*R#uu"/>
  </connectionStrings>
  <system.web>
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="StatisticTestPage.aspx"/>
        <add value="publish.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="TestService.customBinding0">
          <binaryMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="TestService">
        <endpoint address="" binding="customBinding" bindingConfiguration="TestService.customBinding0" contract="TestService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>